node_modules/
__pycache__/
*-checkpoint.ipynb
*.local
*.log
.DS_Store
/data/
*.tsbuildinfo
.venv/
/aqua.yaml
*.local.*
!*.local.template.*
dist/
/x/
.husky/_/
.vscode-test/
*.vsix
.data/
.x/
/target/
