[alias]
  a = add
  b = branch
  c = commit
  ca = commit --amend
  can = commit --amend --no-edit
  ch = checkout
  d = diff
  f = pull --ff-only
  ff = fetch --all
  g = grep
  l = log --format=oneline --graph
  ls = ls-files
  lsu = ls-files --others --directory -x node_modules/ -x /x/ -x /.husky/
  m = merge
  ma = merge --abort
  mc = merge --continue
  p = push -v
  pu = push --set-upstream origin @
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbm = rebase origin/main
  rst = reset --soft @{u}
  s = status --branch --short
  sp = stash pop
  ss = stash push -S
  su = stash --keep-index -u
  w = whatchanged
